{% extends "app\base.html" %}
{% block content %}
  <body id="page-top">

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to Personal Canon</h1>
        <p class="lead">A Site Where You Can Show The World Your Love of Film</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About this Site</h2>
            <p class="lead">Here at Personal Canon we want to create a community of movie buffs and lovers. Join us and share your love of film with those who will appreciate it best.</p>
            <ul>
              <li>Build a Personal Canon of your favorite movies</li>
              <li>Serch the IMDB database with Ease</li>
              <li>Review Movies</li>
              <li>Interact with the community and share your love of film!</li>
            </ul>
              <form action="/login">
                  <input type="submit" value="Join Us"  class="btn"/>
              </form>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock %}
