{% extends "app\base.html" %}
{% block content %}
<script src="../../static/app/scripts/profileFunctions.js"></script>
<link rel="stylesheet" href="../../static/app/content/site.css" />
<script type="text/javascript">
    function init() {
    var isUserOwner = true;
    if(listOwner != currentUser) {
    isUserOwner = false;
    }
    renderList(movieList, isUserOwner);
    setListOwnerIdOnCommentForm(listOwnerId);
    }
    var movieList = {{ movieList }};
      var csrfToken = "{{ csrf_token }}";;
        var currentUser = "{{ user.username }}";
        var listOwner = "{{ listOwner }}";
    var listOwnerId = "{{ ownerID }}";
    document.addEventListener("DOMContentLoaded", init);
</script>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1>Welcome to {{ listOwner }}'s Personal Canon</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-lg-8">
            <h1>Movies</h1>
            <ul class="list-unstyled" id="canonList">

            </ul>
        </div>
        <div class="col">
            
            <h1>Comment Form</h1>
            <div id="userComments">
                {{ comments }}
                <table class="table">
                    <tr>
                     {% for record in comments %}
                        <h1> hello</h1>
                        {{ record.comments }}
                        {% endfor %}
                    </tr>
                </table>
            </div>
            {% if commentForm %}
            <form action="/submitComment" method="post">
                {% csrf_token %}
                {{ commentForm.listOwnerId }}
                {{ commentForm.comment }}
                <br />
             <button class="btn btn-primary pull-right" id="commentSubmitButton" type="submit">Share</button>
            </form>
            {% endif %}
           
        </div>
    </div>
</div>

{% endblock %}