body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.media {
    padding-top: 20px;
    padding-bottom: 20px;
}
.list-unstyled {
    max-height: 100%;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
#communityBody {
    margin-top: 50px;
    margin-bottom: 50px;
}
.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}
#commentSubmitButton {
    margin-top: 5px;
}
#movieProfileTitle {
    color: darkslategrey;
    font-size: 35px;
}
.checked {
    color: orange;
}